*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #FFFFFF;
}

.head-main{
    margin-bottom: 9vw;
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.head1{
    display: flex;
    justify-content: space-between;
    padding: 0 2.5vw;
    align-items: center;
    background-color: #c11d1d26;
    width: 70vw;
    border-radius: 10px;
    line-height: 2;
}

.head2,.head4{
    display: flex;
    gap: 2vw;
    font-family: 'inria sans';
}
.head3{
    font-family: 'Staatliches';
}
@media (max-width:500px){
    .head1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .head2,.head4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
.landing_page{
    text-align: center;
    font-size: 50px;
}

.landing_page h1{
    margin-bottom: 2vw;
    font-family: 'Red Hat Display';
}

.landing_page img{
    width: 96.5vw;
    height: 70vh;
    border-radius: 10px;
    margin-bottom: 10vw;

}


.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 7vw;
    height: 130vh;
}

.project{
    margin: 1vh 2vw;
}

.project img{
    width: 100%;
    margin-bottom: 5px;
}
.project:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 40px rgb(97, 38, 38);
    transition: all 0.2s ease-in;
}


.i{
    height: 30vh;
    width: 45vw;
}
.project h3 {
    font-size: large;
}
.project p{
    font-size: medium;
}

.project h3 , .project p {
    text-align: left;
    font-family: 'inria sans';
    
}

.project p{
    opacity: 50%;
}

.caption{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
}

.caption h1 {
    width: 65vw;
    font-family: 'Red Hat Display';
}

.list{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 4vw;
    font-family: 'Red Hat Display';
}
@media (max-width:500px){
    .list{
        display: flex;
        flex-direction: column;
    }
}
.list2 ul, .list3 ul {
    list-style-type: none;
    font-size: medium;

}
.list1 h4{
    font-size: 130%;
}
.footer{
margin: 4em 4vw 18vh;
text-align: center;
font-family: 'Red Hat Display';
}

#form{
font-size: small;
}

.box{
display: flex;
justify-content: center;
}



.footer-box{
width: 1.5rem;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #ffffff57;
border-radius: 5px;
margin: 1rem;
opacity: 50%;
}



input[type='submit']{
background-color:rgba(193, 29, 29, 1);
color: white;
width: 25vw;
border-radius: 5px;
line-height: 2.5;
cursor: pointer;
border: none;
margin-bottom: 2vh;
}
input[type='submit']:hover{
    box-shadow: 0 0 20px #fff;
    box-shadow: 0 0 20px #fff;
}

#skip{
color:red;
font-size: small;
background: none;
border: none;
cursor: pointer;
}


.page-footer{
display: flex;
justify-content: space-between;
margin: 2vh 1vw 1vh 1vw;
font-family: 'Red Hat Display';
}

#follow{
border: 1px solid rgba(255, 255, 255, 0.16);
border-radius: 5px;
padding: 10px;
font-size: medium;
cursor: pointer;
}

.footer-text{
    opacity: 50%;
}
